**
!Dockerfile
!Dockerfile.local
!build/
!build/libs/
!build/libs/app.jar

# Files required by Dockerfile.local.
!gradlew
!gradlew.bat
!gradle/
!gradle/**
!build.gradle
!settings.gradle
!gradle.properties
!src/
!src/**
!database/
!database/**
