.calendar-page {
  display: flex;
  min-width: 320px;
  flex-direction: column;
  background: var(--color-bg-layer-basement);
  color: var(--color-fg-neutral);
}

.calendar-page__content {
  display: flex;
  width: min(calc(100% - 48px), 1440px);
  flex: 1;
  margin: 0 auto;
  padding: 24px 0 52px;
  flex-direction: column;
  gap: 24px;
}

@media (min-width: 1201px) {
  .calendar-page__content {
    padding-bottom: clamp(16px, calc(100dvh - 768px), 52px);
  }
}

@media (max-width: 760px) {
  .calendar-page__content {
    width: min(calc(100% - 32px), 1440px);
  }
}
