.checklist-page {
  display: flex;
  height: 100%;
  min-width: 320px;
  flex-direction: column;
  background: var(--color-bg-layer-basement);
  color: var(--color-fg-neutral);
}

.checklist-page__content {
  display: flex;
  width: 100%;
  flex: 1;
}

.checklist-page__content > * {
  flex: 1;
}
